div{
	background: rgba(108, 217, 247, 0.5);
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius:15px 50px 30px 5px;
	padding: 7px;
	border:solid rgba(108, 217, 247, 1.0) 5px;
	width: 700px;
}
a{
	padding-right: 7px;
}