
body {
background-image: url("http://wide-wallpapers.net/download/ipad-connecting-people-wide-wallpaper-2560x1600.jpg");
font-family: Josefin Sans, sans-serif;
color: blue;


}

#signup{
	float:right;
  margin-left: 100px;
  margin-right: 100px;
  margin-top:300px;
  margin-bottom:250px;
  border-radius:15px 50px 30px 5px;
  height: 50px;
  padding: 5px;
  /* got transparet rule from: https://stackoverflow.com/a/3969782*/
  background-color: rgba(255, 255, 255, 0.5);
}

#login{
  float:left;
  margin-left: 100px;
  margin-right: 100px;
  margin-top:300px;
  margin-bottom:250px;
  border-radius:15px 50px 30px 5px;
  height: 50px;
  padding: 5px;
  /* got transparet rule from: https://stackoverflow.com/a/3969782*/
  background-color: rgba(255, 255, 255, 0.5);

}

.container-narrow {
    background: url(/img/cream_dust_transparent.png) repeat 0 0;
}


.box{
  margin-left: 300px;
  margin-right: 300px;
  margin-top:300px;
  margin-bottom:300px;
  border-radius:15px 50px 30px 5px;
  height: 180px;
  padding: 5px;
  /* got transparet rule from: https://stackoverflow.com/a/3969782*/
  background-color: rgba(255, 255, 255, 0.5);
}