
body {
background-image: url("http://www.freestockphotos.name/wallpaper-original/wallpapers/laptop-connecting-to-internet-5.jpg");
font-family: Josefin Sans, sans-serif;
color: #1b0c66;


}

#signup{
	float:right;
  margin-left: 100px;
  margin-right: 100px;
  margin-top:300px;
  margin-bottom:250px;
  border-radius:15px 50px 30px 5px;
  height: 50px;
  padding: 5px;
  /* got transparet rule from: https://stackoverflow.com/a/3969782*/
  background-color: blue;
}

#login{
  float:left;
  margin-left: 100px;
  margin-right: 100px;
  margin-top:300px;
  margin-bottom:250px;
  border-radius:15px 50px 30px 5px;
  height: 50px;
  padding: 5px;
  /* got transparet rule from: https://stackoverflow.com/a/3969782*/
  background-color: blue;

}

.container-narrow {
    background: url(/img/cream_dust_transparent.png) repeat 0 0;
}


.box{
  margin-left: 300px;
  margin-right: 300px;
  margin-top:5px;
  margin-bottom:300px;
  border-radius:15px 50px 30px 5px;
  height: 300px;
  padding: 5px;

  /* got transparet rule from: https://stackoverflow.com/a/3969782*/
  background-color: rgba(255, 255, 255, 0.40);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.10);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #blue;
}