
<link rel="stylesheet" href="/resources/roomates.css" />
<style>
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
</style>
<center><img src="resources/logo.png" height="375" width="375">


<h2>Hello, {{html_email}} </h2>


<h3><div id = "find">The following people would be great matches for you.<br> We have created a compatability score between you, and each user.<br> The higher the score, the better compatability! <br>If you would like to room with a user, you can check out their social media or send them an email!</h3></div>




{{html_userObject}}