
<!DOCTYPE html>
<html>
<head>

<ul>
  <li><a href="/signup">Signup</a></li>
  <li><a href="{{ html_login_url }}">Login</a></li>
</ul>

<style>
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
</style>
	<title>{{ title }}</title>



<link rel="stylesheet" type="text/css" href="resources/style.css">
</head>
<body> 
<center><img src="resources/logo.png" height="375" width="375">
<div class= box>
	<h1><center>
	
	</font></center></h1>

	<h1><center>
		Vroomate 
		Are you worried about getting trapped with a terrible roommate for a year? Upset that you don't have any friends going to the same college as you? Having nightmares about living with someone you hate? Fear no longer! Vroommate is here to help! Vroommate is a program that takes your likes, dislikes, characteristics, and interests in order to assign you and every other user a compatability score. Rather than showing up on move-in day to live with a stranger, you can pick someone that you would make good friends with, and contact them! 
	</font></center></h1>

	

	<p align="right">

	</p>
</div>
</body>

</html>

