
<!DOCTYPE html>
<html>
<head>

<ul>
  <li><a href="/signup">Sign up</a></li>
  <li><a href="{{ html_login_url }}">Login</a></li>
  <li><a href="/aboutus">About us</a></li>
</ul>

<style>
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
</style>
	<title>{{ title }}</title>



<link rel="stylesheet" type="text/css" href="resources/style.css">
</head>
<body> 
<center><img src="resources/logo.png" height="375" width="375">
<div class= box>
	<h1><center>
	
	</font></center></h1>

	<h1><center>
		Vroomate 
	</font></center></h1>

	

	<p align="right">

	</p>
</div>
</body>

</html>

