
<!DOCTYPE html>
<html>
<head>
<style>
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
</style>
	<title>{{ title }}</title>



<link rel="stylesheet" type="text/css" href="resources/style.css">
</head>
<body> 
<center><img src="resources/logo.png" height="375" width="375">
<div class= box>
	<h1><center>
	
	</font></center></h1>

	<h1><center>
		Vroommate is a website degsined by college students to help other college students find the perfect roomate. This is done by  connecting the user to others who are going to the same college that are from the same city as the user, or who share similar intrests.
	</font></center></h1>

		<h1 id=signup>
			<a href= "/signup">Create an Account</a>
		</h1>


	<h1 id=login>
			<a href="{{ html_login_url }}"> Already have an account? Login Here</a>
		</font>
	</h1>

	<p align="right">

	</p>
</div>
</body>

</html>

