<style>
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
</style>

<head>


<link rel="stylesheet" type="text/css" href="/resources/signup.css" >
</head>
<body id= signup >

<center><img src="resources/logo.png" height="375" width="375">
<h1><font size = 10> Sign up </font> </h1>

<form method = "POST">
 <br> <u> <b> First Name <input name = "form_first"> </b> </u>: 
 <u> <b> Last Name <input name = "form_last"> </b> </u>: <br> 
 <br> <u> <b> Age: <input name = "age"></b></u> <br>


 <br><u><b> Sex: </b> </u>
<input type = "radio" name = "sex" value = "Male">Male<br>
<input type = "radio" name = "sex" value = "Female">Female

 <br> <u> <b> Graduating Year: <input name = "gradyear"></b> </u> <br>
 <br> <u> <b> Dorm : <input name = "dorm"></b> </u> <br>
 <br> <u> <b> Pet Peeves: <input name = "petpeeves"></b> </u> <br>
 <br> <u> <b> Bio :</b> </u>
<textarea name = "form_bio" placeholder= "Tell us about yourself!"> </textarea><br>
	<br>


<u> <b>Social Media (optional) </b></u>
<u> <b>Instagram <input name = "insta"></b></u>
<br>
<u> <b>Twitter <input name = "twitter"></b></u>
<br>
<h2>How clean are you?</h2>
<input type = "radio" name = "form_clean" value = "very"> Very <br>
<input type = "radio" name = "form_clean" value = "somewhat"> Somewhat <br>
<input type = "radio" name = "form_clean" value = "not"> Not 



<h2>When do you wake up during the week?</h2>
<input type = "radio" name = "form_week" value = "5-6am"> 5am - 6am <br>
<input type = "radio" name ="form_week" value = "7-8am"> 7am - 8am <br>
<input type = "radio" name ="form_week" value = "9-10am"> 9am - 10am <br>
<input type = "radio" name ="form_week" value = "late"> Later


<h2>When do you wake up on the weekends?</h2>
<input type = "radio" name ="form_weeknd" value = "5-6am"> 5am - 6am <br>
<input type = "radio" name ="form_weeknd" value = "7-8am"> 7am - 8am <br>
<input type = "radio" name ="form_weeknd" value = "9-10am"> 9am - 10am <br>
<input type = "radio" name ="form_weeknd" value = "late"> Later 



<h2> How much time do you spend studying in your room per day?</h2>
<input type = "radio" name ="study" value = "1hr"> 5am - 6am <br>
<input type = "radio" name ="study" value = "2hr"> 7am - 8am <br>
<input type = "radio" name ="study" value = "9-10am"> 9am - 10am

<h2>Do you prefer silence or some sort of background noise?</h2>
<input type = "radio" name ="noiselevel" value = "silence">Silence <br>
<input type = "radio" name ="noiselevel" value = "noise"> Background Noise


<h2>Do you like to have friends over?</h2> 
<input type = "radio" name ="friends" value = "yesfriends"> Yes <br>
<input type = "radio" name ="friends" value = "nofriends"> No 


<h2> What time do you go to sleep?</h2>
<input type = "radio" name ="bed" value = "9-10pm"> 9pm - 10pm <br>
<input type = "radio" name ="bed" value = "11-12am"> 11pm - 12am <br>
<input type = "radio" name ="bed" value = "9-10am"> Later



<h2>Are you religious?</h2>
<input type = "radio" name ="God" value = "yesGod"> Yes <br>
<input type = "radio" name ="God" value = "noGod"> No 

<h2>Do you prefer to be hot or cold?</h2>
<input type = "radio" name ="hotorcold" value = "hot"> Hot <br>
<input type = "radio" name ="hotorcold" value = "cold"> Cold 


<input type = "Submit">

{{html_info}}

</form>
</body>
</center>