<head> 
<link rel="stylesheet" type="text/css" href="/resources/signup.css" >
</head>
<body id= signup >
<center>
<img src = "https://hope.edu/student/residential/needaroommate/Need-a-roommate-sm.jpg" alt = "Mountain View" style="width : 300px">
<h1><font size = 10> Sign up </font> </h1>

<form method = "POST">
 <br> <u> <b> First Name <input name = "form_first"> </b> </u>: 
 <u> <b> Last Name <input name = "form_last"> </b> </u>: <br> 
 <br> <u> <b> Age: <input name = "age"></b></u> <br>
 <br> <u> <b> Graduating Year: <input name = "gradyear"></b> </u> <br>
 <br> <u> <b> Dorm : <input name = "dorm"></b> </u> <br>
 <br> <u> <b> Pet Peeves: <input name = "petpeeves"></b> </u> <br>
 <br> <u> <b> Bio :</b> </u>
<textarea name = "form_bio" placeholder= "Tell us about yourself!"> </textarea><br>
	<br>


<u> <b>Social Media (optional) </b></u>
<u> <b>Instagram <input name = "insta"></b></u>
<br>
<u> <b>Twitter <input name = "twitter"></b></u>
<br>
<h2>How clean are you?</h2>

<br><br>

<input type = "radio" name = "form_clean" value = "very"> Very 
<input type = "radio" name = "form_clean" value = "somewhat"> Somewhat 
<input type = "radio" name = "form_clean" value = "not"> Not 
<br><br>


<h2>When do you wake up during the week?</h2>


<br><br>
<input type = "radio" name = "form_week" value = "5-6am"> 5am - 6am </input>
<br><br>
<input type = "radio" name ="form_week" value = "7-8am"> 7am - 8am </input>
<br><br>
<input type = "radio" name ="form_week" value = "9-10am"> 9am - 10am </input>
<br><br>
<input type = "radio" name ="form_week" value = "late"> Later </input>
<br><br>

<h2>When do you wake up on the weekends?</h2>



<br><br>
<input type = "radio" name ="form_weeknd" value = "5-6am"> 5am - 6am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "7-8am"> 7am - 8am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "9-10am"> 9am - 10am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "late"> Later </input>
<br><br>
<input type = "Submit">

<h2> How much time do you spend studying in your room?</h2>
<br><br>
<input type = "radio" name ="form_weeknd" value = "5-6am"> 5am - 6am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "7-8am"> 7am - 8am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "9-10am"> 9am - 10am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "late"> Later </input>
<br><br>
<input type = "Submit">

<h2>Do you prefer a quiet are, or do you prefer having some sort of background noise?</h2>
<br><br>
<input type = "radio" name ="form_weeknd" value = "5-6am"> 5am - 6am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "7-8am"> 7am - 8am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "9-10am"> 9am - 10am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "late"> Later </input>
<br><br>
<input type = "Submit">

<h2>Do you like to have friends over?</h2> 
<br><br>
<input type = "radio" name ="form_weeknd" value = "5-6am"> 5am - 6am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "7-8am"> 7am - 8am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "9-10am"> 9am - 10am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "late"> Later </input>
<br><br>

<h2> What time do you go to sleep?</h2>
<br><br>
<input type = "radio" name ="form_weeknd" value = "5-6am"> 5am - 6am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "7-8am"> 7am - 8am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "9-10am"> 9am - 10am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "late"> Later </input>
<br><br>
<input type = "Submit">

<h2>Are you religious?</h2>
<br><br>
<input type = "radio" name ="form_weeknd" value = "5-6am"> 5am - 6am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "7-8am"> 7am - 8am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "9-10am"> 9am - 10am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "late"> Later </input>
<br><br>

<h2>Do you prefer to be hot or cold?</h2>
<br><br>
<input type = "radio" name ="hotorcold" value = "hot"> Hot </input>
<br><br>
<input type = "radio" name ="hotorcold" value = "cold"> Cold </input>
<br><br>

<input type = "Submit">

{{html_info}}
</form>
</body>
</center>