
<h1>Sign up</h1>
<form method = "POST">
 <br> First Name <input name = "form_first">
 <br><br> Last Name <input name = "form_last"> 
 <br><br> Age <input name = "age"> 
 <br><br> Graduating Year <input name = "gradyear"> 
<br><br>Dorm <input name = "dorm"> 
<br><br>
Bio
<textarea name = "form_bio" placeholder= "Tell us about yourself!"> </textarea>
	<br>
	<br>
	<br>
How clean are you?
<br><br>

<input type = "radio" name = "form_clean" value = "very"> Very </input>
<br><br>
<input type = "radio" name = "form_clean" value = "somewhat"> Somewhat </input>
<br><br>
<input type = "radio" name = "form_clean" value = "not"> Not </input>
<br><br>

When do you wake up during the week?
<br><br>
<input type = "radio" name = "form_week" value = "5-6am"> 5am - 6am </input>
<br><br>
<input type = "radio" name ="form_week" value = "7-8am"> 7am - 8am </input>
<br><br>
<input type = "radio" name ="form_week" value = "9-10am"> 9am - 10am </input>
<br><br>
<input type = "radio" name ="form_week" value = "late"> Later </input>
<br><br>

When do you wake up on the weekends?
<br><br>
<input type = "radio" name ="form_weeknd" value = "5-6am"> 5am - 6am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "7-8am"> 7am - 8am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "9-10am"> 9am - 10am </input>
<br><br>
<input type = "radio" name ="form_weeknd" value = "late"> Later </input>
<br><br>
<input type = "Submit">

{{html_info}}
</form>